* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100vh;
}

body {
	font-size: $text_md;
	font-family: $main_font;
	color: $main_color; 
}

@each $section, $color in $sections {
	.#{$section} {
		background-color: #{$color};
	}
}

.main-header {
	padding: 4% 0;
	background-color: rgba(249,248,251,.5);
	position: fixed;
	width: 100%;
	z-index: 10;

	&__list {
		min-height: 55px;
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		text-decoration: none;
		color: $main_color;
		display: block;
		font-weight: bold;
		border-top: 3px solid transparent; 
		line-height: 2;

		&:hover {
 			border-top: 3px solid #ff6033; 
 		}
	}	

	&__logo a {
		text-decoration: none;
		color: $main_color; 
		display: block;

		& span {
			font-size: 50px;
			font-family: $secondary_font;
		}
	}	
}


.main-screen {
	width: 100%;
	height: 100vh;	
	background-color: #f9f8fb;
	background: transparent url($img_path + "screen1.png") no-repeat;	
	background-size: cover;	
	position: relative;
	background-position: 50% 40%;

	&__row {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	} 

	&__content {
		& h1 {
		font-size: $heading_size_h2;
		font-weight: 900;
		text-transform: capitalize;
		margin: 0;
		letter-spacing: 1.2;
		margin-bottom: 15px;
		}

		& p {
		font-size: $text_md;
		line-height: 1.6;
		margin-bottom: 27px;
		}

		& button {
		@include button(#ff6033);
		}
	}

	&__container {
		height: 100vh;
	}
	
	& .col-12 {		
		position: absolute;
		bottom: 50px;
	}


	&__scroll-link {
		min-height: 55px;
		display: block;
		text-align: center;
	}
}



.section_2 {
	min-height: 700px;
background-image: url("../img/screen_2.png");
 	background-repeat: no-repeat;
 	background-position: 19% 50%;


}

.about-us {
	padding-top: 9.5em;
	height: 100%;
	

	&__content {
		
		color: $secondary_color;
		padding-left: 5em;
		

		& h1 {
			font-size: $heading_size_h1;
			margin: 0 0 10px;
		}

		& p {
			font-size: $text_md;
			line-height: 27px;

			&:not(:last-child) {
				margin-bottom: 10px; 
			}
		}
	}

	&__img {
		width: 50%;
		height: 10px;
		font-size: 0;
	}
}


.section_3 {
	min-height: 790px;
	padding-top: 5.5em;
	background-image: url("../img/screen_3.png");
 	background-repeat: no-repeat;
  	background-position: 81% 37%;
}

.our_services {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	align-items: center;
	$size: 100px;


	&__title {
		text-align: right;
			
		& h1 {
			font-size: $heading_size_h1;
			color: $secondary_color;
			margin: 0;
			text-align: right;
		}
	}

	&__links {
		padding-top: 5em;

	}



	&__link {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: $main_color; 
		font-size: $text_lg;
		max-width: $size * 3;	
		min-width: $size * 3;
		height: $size;	
		border-right: 1px solid #9d9d9d;
				
		&::after {
			content: "";
			height: $size;
			width: $size;
			display: block;
			background-position: center;
			position: absolute;
			top: 0;
			right: -$size; 
			background-color: #ffffff;
			z-index: 2;		
			background-repeat: no-repeat;
		}
	}


	&__list {
		list-style: none;
		font-size: $text_lg;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 3em;
	}
		
	&__item {
		display: block;
		position: relative;
		height: 100px;
		max-width: 400px;
		width: calc(100%-$size);
		background-color: #ffffff;
		box-shadow: 0 0 5px 3px rgba(#000, .1);
		
		&:not(:last-child) {
				margin-bottom: 20px; 
			}

		&:nth-child(1) {
			& a::after {
				background-image: url("../img/icon-1.png");
			}
		}
		&:nth-child(2) {
			& a::after {
				background-image: url("../img/icon-2.png");
			}
		}
		&:nth-child(3) {
			& a::after {
				background-image: url("../img/icon-3.png");
			}
		}		

		&:nth-child(4) {
			& a::after {
				background-image: url("../img/icon-4.png");
			}
		}
	
	}
}

.gallery {
	text-align: center;
	float: none;
	padding-top: 5em;
	padding-bottom: 7em;
	text-align: center;
    

	&__heading {
		margin-bottom: 45px; 
	}


	&__title {
		margin-bottom: 25px; 	

		& h1 {
			font-size: $heading_size_h1;
			margin: 0;
		}
	}

	&__text {
		& p {
			max-width: 50%;
   			margin: 0 auto;
			font-size: $text_md;
			line-height: 1.5;
		}
	}
	

	& button {
		@include button(#5585a2);			
		}


	&__img {
		width: 100%;
		height: 100%;
		box-shadow: 0 0 5px 3px rgba(#000, .1);	
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&__foto {
		margin-bottom: 50px;

		.row:not(:last-child) {
			margin-bottom: 21px; 
		}
	}
		
	&__foto > * {
		font-size: 0;}

	&__link {
		display: block;
		font-size: 0;
		padding-top: 71.8%;
		position: relative;
	}	
}

.section_5 {
	
	background-image: url("../img/screen_5.png");
 	background-repeat: no-repeat;
}


.subscribe {
	min-height: 500px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;


	&__heading > * {
		font-size: $heading_size_h3;
		line-height: 27px;
		color: $dark-color;
		font-weight: bold;
		text-transform: capitalize;
		margin-bottom: 30px;
	}

	&__form {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__text > * { 
		font-size: $text_md;
		margin-bottom: 31px;
		height: 50px;
		line-height: 27px;
		font-weight: 300;
	 }

	&__text-input {
		min-width: calc(100% - 200px);
		border: 1px solid $dark-color;
		padding-left: 15px;
		font-size: 15px;
		font-weight: 300;
		margin-right: 30px;
	}


	& button {
		@include button(#96b92c);	

		}


}



.blog {
	text-align: center;
	float: none;
	padding-top: 5em;
	padding-bottom: 7em;
	text-align: center;
	color: $white-color;
    

	&__heading {
		margin-bottom: 45px; 
	}


	&__title {
		margin-bottom: 25px; 	

		& h1 {
			font-size: $heading_size_h1;
			text-transform: capitalize;
			margin: 0;
		}
	}

	&__text {
		& p {
			max-width: 50%;
   			margin: 0 auto;
			font-size: $text_md;
			line-height: 1.5;
		}
	}
	

	& button {
		@include button(#f72b3b);			
		}


	&__img {
		width: 100%;
		height: 100%;
		box-shadow: 0 0 5px 3px rgba(#000, .1);	
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	&__news {
		margin-bottom: 50px;
	}
		
	&__link {
		display: block;
		font-size: 0;
		padding-top: 83.8%;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: 0px;
			right: 0;
			height: 50%;
			width: 100%;
			z-index: 3;
            background-image: linear-gradient(to top, #262626 0%, transparent 100%);
		}

	}

	&__post {
		position: relative;

	}	

	&__post-day {
		min-height: 60px;
		min-width: 60px;
		display: inline-block;
		border-radius: 5px;
	  	background-color: rgba(38, 38, 38, .502);
	  	position: absolute;
	  	left: 30px;
	  	top: 30px;
	  	z-index: 4;
	  	font-size: 32px;
		line-height: 25px;
		font-weight: bold;
		
		padding-top: 4px;

		& span > * {
			text-align: center;
			font-size: 21px;
			font-weight: bold;
			text-transform: uppercase;
			}

		}

	&__title-link {
		font-size: 20px;
		line-height: 25px;
		color: $white-color;
		font-weight: bold;
		text-decoration: none;
		position: absolute;
	  	left: 20px;
	  	top: 205px;
	  	z-index: 4;
		text-align: left;
	}	
		
	&__info {		
		font-size: 13px;
		line-height: 25px;		
		position: absolute;
	  	left: 20px;
	  	top: 268px;
	  	z-index: 4;
		text-align: left;

		& > * {
			color:  $white-color;
			text-decoration: none;
		}
	}	
	
}









// Growing Food and a “Thirst” for Innovation





