

$dark-color: #262626;
$white-color: #fff;

$main_color: $dark-color;
$secondary_color: $white-color;

$main_font: 'Raleway', sans-serif;
$secondary_font: 'Pacifico', cursive;

$heading_size_h1: 90px; 
$heading_size_h2: 60px;
$heading_size_h3: 40px;

$text_lg: 20px;
$text_md: 17px;
$text_sm: 15px;

$img_path: '../img/';

$sections: (
    section_1: #f9f8fb,
    section_2: #00b1b1,
    section_3: #70bfff,
    section_4: #ffe92f,
    section_5: #ffffff,
    section_6: #b07cf7,
); 