@font-face {
	font-family: "Miso";
	src: url("../fonts/miso.otf");
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	min-height: 100vh;
}

body {
	font-size: 14px;
	font-family: "Miso", sans-serif;
	color: #333333;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fdde7e; 
}

.container {
	width: 1140px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card {
	width: 360px;
	height: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #ffffff; 
	border-radius: 5px;
	margin: 0;
	/*padding: 18px 0;*/
}

.card:nth-child(2) {
	height: 500px;
}

.card__price {
	font-size: 70px;
	font-weight: bold;
	color: #02995b;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.card__img { 
	font-size: 0;
	align-items: center;
	justify-content: flex-start;
	padding-left: 16px;
	display: flex;
}

.card__text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

h1 {
	font-weight: 300;
	font-size: 56px;
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
}

p {
	width: 160px;
	font-weight: 400;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	line-height: 1.35;
}

