@import "grid";


.main-header,
.section.about,
.section.benefits,
.team,
.main-footer {
	// display: none;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	min-height: 100vh;
	@media (max-width: 319px) {
		display: none;
	}               //////////////////////////NO DO REMOVE BEFORE PRO////////////////////////
}

body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #60606e;
	
	@media (max-width: 1024px) {
		
	}
}

.cf,
.cf::before,
.cf::after {
	clear: both;
}

.cf::before,
.cf::after {
	content: "";
	display: table;
}

.heading > * {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
	margin: 0;
	text-align: center;
	position: relative;
}

.heading--section,
.sub-heading {
	margin-bottom: 25px;
}

.heading--section > * {
	font-size: 30px;
	display: inline-block;	
}

.heading--section > *::after {
	content: "";
	display: block;
	position: absolute;
	width: 65px;
	height: 20px;
	background-color: #7beec7;
	bottom: 0;
	left: -5px;
	z-index: -1;
}

.breadcrumbs {
	list-style: none;
	text-align: center;
}

.breadcrumbs--heading {
	padding-top: 15px;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li::after {
	content: "/";
	display: inline-block;
	margin: 0 5px;
}

.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs a {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 800;
	color: currentcolor;
	text-decoration: none;
}

.main-header {
	min-height: 100vh;	
	position: relative;
	padding-top: 45px;
}

.main-header::before,
.main-header::after {
	content: "";	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main-header::before {
	background: transparent url("../img/bg.png") no-repeat;
	background-size: cover;
	z-index: 1;
	opacity: .5;
}

.main-header::after {
	background-color: rgba(98,98,98,.5);
	z-index: 2;
}

.logo {
	float: left;
}

.logo a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: currentcolor;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.nav-button {
	float: right;
	cursor: pointer;
}

.nav-button span {
	display: block;
	border-bottom: 1px solid currentcolor;
	margin-bottom: 6px;
}

.nav-button span:first-child {
	width: 31px;
}

.nav-button span:nth-child(2) {
	width: 15px;
}

.nav-button span:last-child {
	width: 23px;
	margin-bottom: 0;	
}

.main-header .container {
	position: relative;
	z-index: 3;
}

.vertical-center {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.section {
	padding-top: 150px;
}

.sub-heading > * {
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
}

.text {
	line-height: 2;
}

.team .heading--section,
.benefits .heading--section {
	text-align: center;
}

.text-benefits {
	max-width: 66%;
	margin: 0 auto;
	text-align: center;
}

.section-headings {
	margin-bottom: 100px;
}

.benefit-item__heading > * {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}

.benefit-icon {	
	width: 40px;
	height: 40px;
	background-color: #7beec7;
	margin-right: 15px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.benefit-icon svg {
	min-width: 70%;
}

.icon-phone {
	/* background: red url("../img/phone.svg") no-repeat 50% 50%; */
	fill: #fff;
}

.benefits-grid:not(:last-child){
	margin-bottom: 30px;
}

.team {
	padding-top: 150px;
}

.team .col-3 {
	margin-bottom: 30px;
}

.main-footer {
	padding: 50px 0;
	background-color: #7beec7;	
}

.main-footer * {
	text-transform: uppercase;
	line-height: 1.4;
}

.left-side > h2 {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 20px;
}
.left-side > button {
	max-width: 160px;
	width: 100%;
	background-color: #fff;
	border: none;
	color: #7beec7;
	padding: 15px 0;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.form-wrapper {
	background-color: #fff;
	padding: 15px 20px;
}

.form-wrapper h3 {
	font-size: 24px;	
}

.form-wrapper > p {
	text-transform: none;
	margin-bottom: 25px;
	color: #999999;
}

.form-wrapper .row {
	margin-bottom: 15px;
}

form input {
	min-height: 50px;
	float: left;
	border-radius: 0;
}

form input[type="email"] {
	border: 1px solid #e5e5e5;
	font-size: 12px;
	padding-left: 15px;
	min-width: 73%;
	border-right: none; 
}

form input[type="submit"] {
	color: #fff;
	background-color: #7beec7;
	border: 1px solid #7beec7;
	min-width: 135px;
	max-width: 27%;
	cursor: pointer;
}

$pad-screen: 1024px;

.section, .team {
	@media (max-width: $pad-screen) {
	padding-top: 75px;}
}

.heading--section, .sub-heading {
	@media (max-width: $pad-screen) {
	text-align: center;}
}



.half {
	@media (max-width: $pad-screen) {
		width: 100%;
		margin-bottom: 2.5em;
		font-size: 16px;
		
	}
}

[class^="col-"] {
	@media (max-width: $pad-screen) {
		float: none;		
	}
}

.row {
	@media (max-width: $pad-screen) {
		width: 100%;
		display: flex;
		flex-wrap: wrap;		
	}

	[class^="col-3"],
	[class^="col-4"] {
	@media (max-width: $pad-screen) {
		width: 50%;		
		text-align: center;
		}
	}
}


.main-footer {
	.col-6 {
		@media (max-width: $pad-screen) {
		width: 100%;		
		margin-bottom: 2em;
		}
	}
}