/*
//////////MAP//////////
// #COMMON
// #HEADER
// #BODY
// #FOOTER
*/

/*#COMMON*/
* {
	box-sizing: border-box; 
	transition: all .1s ease-in;
	margin: 0;
	padding: 0;
}

html, body {
width: 100%;      /*100vh viewheight   другой способ задания*/
height: 100%;
}

.fs20 {
	font-size: 20px
}
.pinc {
	color: #eb7e7f;
}

.bg_grey {
	background: #4A4F56;
}
/*#HEADER*/
.main_header {
text-align: center;
padding: 16px;
}

.upper{
	text-transform: uppercase;
}
.main_header h1{
text-transform: capitalize;
}

/*#BODY*/
body {
margin: 0;
background:  #3B3F45;
color: white;
border: 20px solid white;
font-family: sans-serif;
}
.container {
max-width: 960px;
margin: 0 auto;
}

.dinner_list {
	padding: 40px 0;
	list-style: none;
}
.dinner_list li {
	border: 2px solid;

}
.dinner_list label {
		cursor: pointer;
		padding: 10px;
		display: block;
}
.dinner_list li:nth-child(odd){
    background: #88839E;
    border-color:  #88839E;
}
.dinner_list li:nth-child(even){
    background: #7A7593;
    border-color:  #7A7593;
}
.dinner_list li:hover {
	border-color: #FFFFFF;
	border-right-color: transparent; 
	border-left-color: transparent; 
	background: #625E77;
}
.dinner_list li:active {
	background: #eb7e7f;
}

.dinner_list li input[type="checkbox"]{
	display: inline-block;
	margin: 10px;
}


.dinner_list li input[type="checkbox"]:checked + span{
	text-decoration: line-through;}

.dinner_list label span.bracket{
	font-size: 16px;
}
.dinner_list label span.bracket:before{
	content: "(";
}
.dinner_list label span.bracket:after{
	content: ")";
}

/*#FOOTER*/
.main_footer  {
	padding: 20px; 
}
.main_footer p {
	text-align: center; 
	font-size: 25px;
}