* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: $main-font;
	font-size: $base-size;
	color: $white-color;
	background-color: $bg-color;
}

a {
	color: $white-color;
	text-decoration: none;
	display: block;

	&:hover {
		text-decoration: none;
	}
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;

		a {
			display: block;
		}
	} 
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: bold;
	text-transform: uppercase; 
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 36px;
}

p {
	padding: 0;
	margin: 0;	
}

.headings {
	font-size: 36px;
	line-height: 47px;
	color: $light-color;
	font-family: $heading-font;
	font-weight: bold;

	&-wrapper {
		align-items: center;
	}

	&-gray {
		color: $grey-color;
	}
}


.up {
	$size: 84px;
	width: $size;
	height: $size;
	font-size: 1.5rem;
	opacity: .5;
	position: fixed;
	right: 10%;
	bottom: 10%;
	background-color: $violet-color;
	display: flex;
	justify-content: center;
	align-items: center;
	// color: $grey-btn-color;
	cursor: pointer;
	transition: opacity .1s ease;
	z-index: 20;
	box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
}

.up::after {
	content: "";
	opacity: 1;
	display: block;
	width: 30px;
	height: 30px;
	border: 2px solid transparent;
	border-right-color: $white-color;
	border-top-color: $white-color;
	position: absolute;
	z-index: 21;
	top: 35px;
	// right: 0;
	transform: translate(-50%, -50%);
	transform: rotate(-45deg);
	cursor: pointer;

	
}