.footer {
	background: $violet-color;
	height: 130px;
	display: flex;
	align-items: space-around;

	@include min768 {
		height: 185px;
		align-items: center;
	}

	.row {
		height: 100%;
	}

	&__contacts {
		@include  center;

		@include min768 {
			display: flex;
			justify-content: flex-end;		
			align-items: center;			
		}
	}

	&__copyright {
		font-size: 16px;
		@include  center;

		@include min768 {
			font-size: 18px;
			display: flex;
			justify-content: flex-start;		
			align-items: center;		
		}	
		
		& span {
			font-weight: bold;
			text-align: center;			
		}
	}

	&__social-links {
		&:hover,
		&:focus {
			opacity: .5;		
		}
	}

	&__link:not(:last-child) {
		margin-right: 25px;
	}
}