@mixin overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

@mixin centered {
	position: absolute;		
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin object($width, $height, $bg) {
	width: $width;
	height: $height;
	background: $bg;
}

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@function rem($target, $context: $base-size) {
	@if $target == 0 { @return 0 }
	@return $target / $context + 0rem;
}


@mixin decor($font-size, $line-height: 1.2){
	display: none;
	content: '';
	z-index: 1;
	width: 90px;
	border-top: 1px solid $white-color;
	position: absolute;
	transform: translate(-150%, $font-size * $line-height / 2);

	@media screen and (min-height: 1367px){
		transform: translate(-180%, $font-size * $line-height / 2);
	}

	@include min992 {
		display: block;
	}
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
}

@mixin min1367 {
	@media all and (min-width: 1367px) {
		@content;
	}
}

@mixin max1366 {
	@media all and (max-width: 1366px) {
		@content;
	}
}

@mixin min992 {
	@media all and (min-width: 992px) {
		@content;
	}
}

@mixin max991 {
	@media all and (max-width: 991px) {
		@content;
	}
}

@mixin min768 {
	@media all and (min-width: 768px) {
		@content;
	}
}

@mixin max767 {
	@media all and (max-width: 767px) {
		@content;
	}
}

@mixin max768 {
	@media all and (max-width: 768px) {
		@content;
	}
}

@mixin min576 {
	@media all and (min-width: 576px) {
		@content;
	}
}

@mixin max575 {
	@media all and (max-width: 575px) {
		@content;
	}
}

@mixin btn($btn-color) {
	min-height: 50px;
	width: 100%;
	min-width: 195px;				
	text-transform: capitalize;
	padding: 10px 0;
	letter-spacing: 0;
	cursor: pointer;
	font-size: 18px;
	font-family: $main-font;
	font-style: italic;
	background-color: transparent;
	color: $btn-color;
	border: 1px solid $btn-color;

	&:hover,
	&:focus {
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		transition: all 1s ease 0s;
	}
}