$img-path: '../img/';

$white-color: #fff;
$light-color: #fefefb;
$grey-color: #665f60;
$grey-btn-color: #7b7a7c;
$violet-color: #9f9acf;
$bg-color: #ebebeb;
$services-bg: #dbdbdb;
$header-bg: trannsparent;


$main-font: 'P TSans', sans-serif;
$heading-font: 'ProximaNova', sans-serif;

$base-size: 18px;




/////////////////////////// REMOVE BEFORE PRODACTION 

// $border-color: #ababab;
// $about-overlay-color: #205eba;
// $top-gradient-color: #021833;
// $contact-bg-color: #131313;
// $form-color: #525252;
// $form-hover: #2967bd;


// первая страница!!!!!!!!!!!!!!!

// font-size: 24px;
// line-height: 60px;
// color: #ffffff;
// font-family: "Proxima Nova";
// font-weight: bold;

// font-size: 72px;
// line-height: 60px;
// color: #fefefb;
// font-family: "Proxima Nova";
// font-weight: bold;

// font-size: 30px;
// color: #fefdfd;
// font-family: "P TSans";
// font-style: italic;;
// text-align: center;

// about!!!!!!!!!!!!!!

// font-size: 36px;
// line-height: 47px;
// color: #fefbfc;
// font-family: "Proxima Nova";
// font-weight: bold;

// width: 636px;
// height: 278px;
// font-size: 20px;
// color: #665f60;
// font-family: "P TSans";




// кнопка


// font-size: 20px;
// color: #7d7a7c;
// font-family: "P TSans";
// font-style: italic;;
// text-align: right;

// карточки!!!!!!!
// заголовок


// font-size: 24px;
// color: #665f60;
// font-family: "P TSans";
// font-weight: bold;


// width: 200px;
// height: 90px;
// font-size: 18px;
// color: #665f60;
// font-family: "P TSans";
// font-style: italic;;
// text-align: center;

// белый заголовок

// font-size: 36px;
// color: #fefcfd;
// font-family: "Proxima Nova";
// font-weight: bold;
// text-align: right;

// width: 352px;
// height: 89px;
// font-size: 18px;
// color: #fefcfd;
// font-family: "P TSans";
// font-style: italic;;
// text-align: center;

// первый слайдер !!!!!!!!!!!!!!

// заголовок

// font-size: 36px;
// color: #fefcfd;
// font-family: "Proxima Nova";
// font-weight: bold;
// text-align: center;


// кнопка

// font-size: 20px;
// color: #ffffff;
// font-family: "P TSans";
// font-style: italic;;
// text-align: center;

// второй слайдер !!!!!!!!!!!!

// заголовок

// font-size: 36px;
// color: #665f60;
// font-family: "Proxima Nova";
// font-weight: bold;
// text-align: center;

// фамилия

// font-size: 24px;
// color: #9f9acf;
// font-family: "Proxima Nova";
// font-weight: bold;
// text-align: center;

// должность

// font-size: 24px;
// color: #665f60;
// font-family: "P TSans";
// font-style: italic;;
// text-align: center;

// карта!!!!!!!!!

// заголовок

// font-size: 36px;
// color: #ffffff;
// font-family: "Proxima Nova";
// font-weight: bold;

// закладки

// font-size: 18px;
// color: #665f60;
// font-family: "P TSans";
// text-align: center;

// форма

// font-size: 18px;
// line-height: 18px;
// color: #ffffff;
// font-family: "P TSans";
// font-style: italic;;

// кнопка

// font-size: 20px;
// letter-spacing: 0px;
// line-height: 26px;
// color: #ffffff;
// font-family: "Proxima Nova";
// font-weight: bold;


// футер !!!!!!!!!!!

// font-size: 18px;
// letter-spacing: 0px;
// color: #ffffff;
// font-family: "P TSans";