$img-path: '../img/';

$white-color: #fff;
$light-color: #fefefb;
$grey-color: #665f60;
$grey-btn-color: #7b7a7c;
$violet-color: #9f9acf;
$bg-color: #ebebeb;
$services-bg: #dbdbdb;
$header-bg: trannsparent;


$main-font: 'P TSans', sans-serif;
$heading-font: 'ProximaNova', sans-serif;

$base-size: 18px;