@font-face {
	font-family: "Museo Sans Rounded";
	src: url("../fonts/museosansrounded-300-webfont.eot"),
	url("../fonts/museosansrounded-300-webfont.ttf"),
	url("../fonts/museosansrounded-300-webfont.woff");
	font-weight: 300;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, 
body {
	width: 100%;
	min-height: 100vh;
	font-family: "Museo Sans Rounded";
	line-height: 26px;
	color: #e1e1e1;
	transition: all .3s ease;
}

.cf {
	clear: both;
}
.cf::before,
.cf::after {
content: " ";
display: table;
clear: both;
}

.container {
	width: 800px;
	height: 550px;
	margin: auto;
	background-image: url("../img/bg.png"); 
	padding-top: 80px; 
}


.main {
	width: 685px;
	height: 390px;
	background-color: #111a28; 
	border-radius: 10px;
	margin: auto;	
}

.product {
	width: 60%;
	float: left;
	height: 100%;
	padding: 20px;
}

.header_logo {
	margin-bottom: 30px; 
	margin-right: 305px; 
	display: inline-block;
	text-align: left;
}

.header_logo a {
	display: block;
}

.foto {
	position: relative;
	margin: auto;
	width: 340px;
	height: 250px;
}

.foto img {
	position: absolute;
	max-height: 250px;
	max-width: 340px;
	left: 0;
  	bottom: 0;
  	top: 0;
 	right: 0;
 	margin: auto;
}

/* #BULLET */
.bullet__list {
	list-style: none; 
	margin: 0;
	padding: 0;
}
.bullet__item {
	display: inline-block;
	margin-right: 10px; 
}
.bullet__item:last-child {
	margin: 0;
}

.bullet__link {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 3px solid #111a28;
}

.bullet__link--blue {
	background-color: #1f273f;
}

.bullet__link--red {
	background-color: #ed3333;
}

.bullet__link--white {
	background-color: white;
}

.bullet__link--turquoise {
	background-color: #29e3ea;
}

ul.bullet__list {
	text-align: center;
}

.bullet__link--active,
.bullet__link:hover {
	border-color:  #fff;
}


/* #DESCRIPTION */


.description {
	width: 35%;
	float: right;
	padding: 75px 60px 60px 0;
}

.description__heading h1 {
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 0px;
	line-height: 26px;
	margin: 0 0 10px;
}

.description__text  {
	color: #49505a;
	font-size: 14px;
	margin-bottom: 7px;
}

.description__link {
	text-decoration: none;
}

.description__stars {
	margin-bottom: 20px;
}

.order__list {
	background-color: #111a28; 
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 18px;
	width: 70px;
	height: 33px;	
	color: #454c56;
	margin-bottom: 28px; 
	padding-left: 5px;
	border-color: #4f5560; 
}


.order__submit {
	background-color: #111a28; 
	cursor: pointer;
	color: #454c56;
	border: 1px solid #4f5560;
	text-align: center;
	width: 183px;
	height: 40px;
	font-size: 14px;
}

.order__submit:hover {
	background-color: rgba(79,85,96,.3);
}