* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	min-height: 100vh;
	
}

body {
	// background: $light-grey-color;
	border: $borderHeight solid #fff;
	font-size: 100%; 
	color: $white-color;
	font-family: $main-font;

}

ul>li>a {
	display: block;
	text-decoration: none;
}

@for $i from 1 through 6 {
	h#{$i}{
		margin: 0;
	}
}